<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
    .card-grid .uk-card-body {
        margin: 10% 20px;
    }
    .card-grid {
        display: flex;
    }
    .card-grid .uk-card-body li {
        text-align: left;
        list-style: none;
    }
</style>

</head>
<body>
        <img src="mainpagephoto2.jpeg">
        <div class="uk-child-width-expand@s uk-text-center card-grid" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h1>1</h1>
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>    
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                            <h1>1</h1>
                            <ul>
                                <li>1</li>
                                <li>1</li>
                                <li>1</li>
                            </ul>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                            <h1>1</h1>
                            <ul>
                                <li>1</li>
                                <li>1</li>
                                <li>1</li>
                            </ul>
                    </div>
                </div>
            </div>
</body>