<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>


    <div class = "small-empty-space"></div>
    <div class="row">
        <div class="col-lg-5">
                <div class="aboutSection">
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                             ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                             in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                             sint occaecat cupidatat non proident,
                             sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="containerMenu">
                        <button class="menuButton">Check the menu</button>
                    </div> 
        </div>
        <div class="col-lg-7">
                <div class="photo">
                    <img src="C:\Users\Nika\Desktop\photo dyplom\mainphoto.jpg">       
                </div>
        </div>
    </div>
    <div class="small-empty-space"></div>
    <div id="wynik"><div>
    <div class="row">
            <div class="col-lg-7">
                    <div class="photoTwo">
                        <img src="E:\Nika\VisualCode\photo4.jpeg">       
                    </div>
            </div>
 
            <div class="col-lg-5">
                    <div class="aboutSection">
                            <h1 class="AboutHeading">About Us</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                 ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                 in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                 sint occaecat cupidatat non proident,
                                 sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="containerMenu">
                            <button class="menuButtonRigth">Make a reservation</button>
                        </div> 
            </div>
        </div>
        <app-footer></app-footer>
