<head>

    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />



</head>
<div class="small-empty-space"></div>

    

<div class="row">

   
    <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
            <input class="uk-input" type="text" placeholder="100">
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="text" placeholder="50">
        </div>
        <div class="uk-width-1-4@s">
            <input class="uk-input" type="text" placeholder="25">
        </div>
        <div class="uk-width-1-4@s">
            <input class="uk-input" type="text" placeholder="25">
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="text" placeholder="50">
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="text" placeholder="50">
        </div>
    </form>

</div>
     


<div class="row">
<div class="col-lg-6">
    <div uk-tooltip="title: Hello World">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/0cb91d41317115.57adda819f6cc.jpg">
    </div>
</div>
</div>

<div class="small-empty-space"></div>
<app-footer></app-footer>

